flask~=1.1.2
pip~=21.3.1
colorlog~=5.0.1
toml~=0.10.2
zlib~=1.2.11
wheel~=0.36.2
google~=3.0.0
openssl~=1.1.1k
cryptography~=3.4.7
py~=1.10.0
lxml~=4.6.3
tornado~=6.1
pathlib~=1.0.1
typing_extensions~=3.7.4.3
keyring~=22.3.0
pkginfo~=1.7.0
requests~=2.26.0
certifi~=2020.12.5
urllib3~=1.26.4
six~=1.16.0
idna~=2.10
chardet~=4.0.0
setuptools~=52.0.0
cython~=0.29.23
future~=0.18.2
docutils~=0.16