<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Stream Analysis</title>
    <!--    <script src="../ApiInterface/echarts.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="data.json"></script>
    <script type="text/javascript" src="javascrip.js"></script>
</head>
<body>
<div id="sp"></div>
<div id="dynamicBarChart"></div>


<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/piechart
    // https://www.runoob.com/echarts/echarts-ajax-data.html
    var dynamicBarChart = echarts.init(document.getElementById('dynamicBarChart'), null, {
        height: 500,
        width: 700
    });

    function drawDynamicBarChart(dataSet) {
        const flags = res0[0];
        const data = res1[0];
        const years = [];
        for (let i = 0; i < data.length; ++i) {
            if (years.length === 0 || years[years.length - 1] !== data[i][4]) {
                years.push(data[i][4]);
            }
        }

        function getFlag(countryName) {
            if (!countryName) {
                return '';
            }
            return (
                flags.find(function (item) {
                    return item.name === countryName;
                }) || {}
            ).emoji;
        }

        let startIndex = 10;
        let startYear = years[startIndex];
        option = {
            grid: {
                top: 10,
                bottom: 30,
                left: 150,
                right: 80
            },
            xAxis: {
                max: 'dataMax',
                axisLabel: {
                    formatter: function (n) {
                        return Math.round(n) + '';
                    }
                }
            },
            dataset: {
                source: data.slice(1).filter(function (d) {
                    return d[4] === startYear;
                })
            },
            yAxis: {
                type: 'category',
                inverse: true,
                max: 10,
                axisLabel: {
                    show: true,
                    fontSize: 14,
                    formatter: function (value) {
                        return value + '{flag|' + getFlag(value) + '}';
                    },
                    rich: {
                        flag: {
                            fontSize: 25,
                            padding: 5
                        }
                    }
                },
                animationDuration: 300,
                animationDurationUpdate: 300
            },
            series: [
                {
                    realtimeSort: true,
                    seriesLayoutBy: 'column',
                    type: 'bar',
                    itemStyle: {
                        color: function (param) {
                            return countryColors[param.value[3]] || '#5470c6';
                        }
                    },
                    encode: {
                        x: dimension,
                        y: 3
                    },
                    label: {
                        show: true,
                        precision: 1,
                        position: 'right',
                        valueAnimation: true,
                        fontFamily: 'monospace'
                    }
                }
            ],
            // Disable init animation.
            animationDuration: 0,
            animationDurationUpdate: updateFrequency,
            animationEasing: 'linear',
            animationEasingUpdate: 'linear',
            graphic: {
                elements: [
                    {
                        type: 'text',
                        right: 160,
                        bottom: 60,
                        style: {
                            text: startYear,
                            font: 'bolder 80px monospace',
                            fill: 'rgba(100, 100, 100, 0.25)'
                        },
                        z: 100
                    }
                ]
            }
        };
        // console.log(option);
        myChart.setOption(option);
        for (let i = startIndex; i < years.length - 1; ++i) {
            (function (i) {
                setTimeout(function () {
                    updateYear(years[i + 1]);
                }, (i - startIndex) * updateFrequency);
            })(i);
        }

        function updateYear(year) {
            let source = data.slice(1).filter(function (d) {
                return d[4] === year;
            });
            option.series[0].data = source;
            option.graphic.elements[0].style.text = year;
            myChart.setOption(option);
        }
    }

    barChartForTop10Anchors.setOption(option);
    }


    var jsonData;
    fetch("./data.json")
        .then(response => {
            return response.json();
        })
        .then(function (data) {
            console.log(data);
            drawDynamicBarChart(data)
        })
    // jsonData = JSON.parse(JSON.stringify(jsonData))


</script>
</body>
</html>

<style>
    #pieChart {
        width: 300px;
        height: 200px;
        margin-bottom: 150px;
        margin-top: 50px;
    }

    #barChartForTopKGames {
        width: 300px;
        height: 400px;
        margin-top: 100px;
        margin-left: 100px;
    }

    #barChartForTopKTags {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #barChartForTop10Anchors {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #sp {
        width: 100px;
        height: 100px;
    }
</style>

