<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Stream Analysis</title>
    <script src="../APItest/echarts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
        <div id="pieChart"></div>
        <div id="sp"></div>
        <div id="barChartForTopKGames"></div>
        <div id="sp"></div>
        <div id="barChartForTopKTags"></div>
        <div id="sp"></div>
        <div id="barChartForTop10Anchors"></div>
        <div id="sp"></div>

        <script type="text/javascript">
            // https://developers.google.com/chart/interactive/docs/gallery/piechart
            // https://www.runoob.com/echarts/echarts-ajax-data.html
            var BarChartForTopKGames = echarts.init(document.getElementById('barChartForTopKGames'), null, {
                height: 500,
                width: 700
            });
            var BarChartForTopKTags = echarts.init(document.getElementById('barChartForTopKTags'), null, {
                height: 500,
                width: 700
            });
            var pieChart = echarts.init(document.getElementById('pieChart'), null, {
                height: 450,
                width: 700
            });
            var barChartForTop10Anchors = echarts.init(document.getElementById('barChartForTop10Anchors'), null, {
                height: 500,
                width: 700
            });
            window.onload = function () {
                drawPieChart([]);
                drawBarChartForTopKGames([]);
                drawBarChartForTopKTags([]);
                drawBarChartForTop10Anchors([]);
            }

            function drawBarChartForTopKGames(dataSet) {
                var option = {
                    title:{
                        left: 'left',
                        text: 'TOP 10 Popular Live Games'
                    },
                    dataset: [
                        {
                            dimensions: ['game', 'viewer'],
                            source: dataSet
                        },
                        {
                            transform: {
                                type: 'sort',
                                config: { dimension: 'viewer', order: 'desc' }
                            }
                        }
                        ],
                    xAxis: {
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            rotate: 15,
                            textStyle: {fontSize: 11}
                        }
                    },
                    yAxis: {
                        textStyle: {fontSize: 12}
                    },
                    series: {
                        type: 'bar',
                        encode: { x: 'name', y: 'score' },
                        datasetIndex: 1
                    }
                };
                BarChartForTopKGames.setOption(option);
            }

            function drawBarChartForTopKTags(dataSet) {
                var option = {
                    title:{
                        left: 'left',
                        text: 'Most Popular Categories'
                    },
                    dataset: [
                        {
                            dimensions: ['tag', 'count'],
                            source: dataSet
                        },
                        {
                            transform: {
                                type: 'sort',
                                config: { dimension: 'count', order: 'desc' }
                            }
                        }
                        ],
                    xAxis: {
                        type: 'category',
                        axisLabel: {
                            interval: 0,
                            rotate: 15,
                            textStyle: {fontSize: 12}
                        }
                    },
                    yAxis: {
                        textStyle: {fontSize: 13}
                    },
                    series: {
                        type: 'bar',
                        encode: { x: 'name', y: 'score' },
                        datasetIndex: 1,
                        itemStyle: {color: '#3BA272'}
                    }
                };
                BarChartForTopKTags.setOption(option);
            }

            function drawPieChart(dataSet) {
                option = {
                    title:{
                        left: 90,
                        text: 'Most Popular Live Rooms in Different Language'
                    },
                    legend: {
                        right: 'left',
                        orient: 'vertical',
                        top: 'center',
                        icon: 'square',
                        textStyle: {
                            fontSize: '12',
                        },
                    },
                    label: {
                        show: true,
                        position: 'top',
                        fontSize: 13,
                    },
                    icon: 'rect',
                    series: [
                        {
                            name: 'Pie Chart',
                            type: 'pie',
                            radius: '70%',
                            center: ['50%', '50%'],
                            // roseType: 'angle',
                            data: dataSet,
                        }
                        ]
                };
                pieChart.setOption(option);
            }

            function drawBarChartForTop10Anchors(dataSet) {
                option = {
                    title:{
                        left: 90,
                        text: 'Most Popular Live Rooms in Different Language'
                    },
                    legend: {
                        right: 'left',
                        orient: 'vertical',
                        top: 'center',
                        icon: 'square',
                        textStyle: {
                            fontSize: '12',
                        },
                    },
                    label: {
                        show: true,
                        position: 'top',
                        fontSize: 13,
                    },
                    icon: 'rect',
                    series: [
                        {
                            name: 'Pie Chart',
                            type: 'pie',
                            radius: '70%',
                            center: ['50%', '50%'],
                            // roseType: 'angle',
                            data: dataSet,
                        }
                        ]
                };
                pieChart.setOption(option);
            }

            // ajax for top K Games
            var barDataSetForTopKGames;
            $.ajax({
                url:"http://127.0.0.1:5000/topKGames/" + 10,
                type: 'GET',
                headers:{'Content-type' : 'application/json'},
                cache: false,
                dataType : 'html',
                processData : false,
                contentType : 'application/json',
                success: function (r){
                    barDataSetForTopKTags = JSON.parse(r);
                    drawBarChartForTopKGames(barDataSetForTopKTags);
                }
            })

            // ajax for top K Tags
            var barDataSetForTopKTags;
            $.ajax({
                url:"http://127.0.0.1:5000/topKTags/" + 10,
                type: 'GET',
                headers:{'Content-type' : 'application/json'},
                cache: false,
                dataType : 'html',
                processData : false,
                contentType : 'application/json',
                success: function (r){
                    barDataSetForTopKGames = JSON.parse(r);
                    drawBarChartForTopKTags(barDataSetForTopKGames);
                }
            })

            // ajax for pie chart
            var pieDataSet;
            $.ajax({
                url:"http://127.0.0.1:5000/getLanguageCount/" + 500,
                type: 'GET',
                headers:{'Content-type' : 'application/json'},
                cache: false,
                dataType : 'html',
                processData : false,
                contentType : 'application/json',
                success: function (r){
                    console.log(r)
                    pieDataSet = JSON.parse(r);
                    console.log(pieDataSet);
                    drawPieChart(pieDataSet);
                }
            })

            var barDataSetForTop10Anchors;
            $.ajax({
                url:"http://127.0.0.1:5000/getLanguageCount/" + 500,
                type: 'GET',
                headers:{'Content-type' : 'application/json'},
                cache: false,
                dataType : 'html',
                processData : false,
                contentType : 'application/json',
                success: function (r){
                    console.log(r)
                    barDataSetForTop10Anchors = JSON.parse(r);
                    console.log(barDataSetForTop10Anchors);
                    drawPieChart(barDataSetForTop10Anchors);
                }
            })
        </script>
</body>
</html>

<style>
    #pieChart{
        width: 300px;
        height: 200px;
        margin-bottom: 150px;
        margin-top: 50px;
    }
    #barChartForTopKGames{
        width: 300px;
        height: 400px;
        margin-top: 100px;
        margin-left: 100px;
    }
    #barChartForTopKTags{
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }
    #sp{
        width: 100px;
        height: 100px;
     }
</style>

