<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Stream Analysis</title>
<!--    <script src="../ApiInterface/echarts.js"></script>-->
    <script src = "https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div id="pieChart"></div>
<div id="sp"></div>
<div id="barChartForTopKGames"></div>
<!--<div class="sp"></div>-->
<div id="barChartForTopKTags"></div>
<!--<div class="sp"></div>-->
<div id="barChartForTop10Anchors"></div>
<!--<div class="sp"></div>-->

<!--https://dev.twitch.tv/docs/embed/chat-->
<iframe id="twitch-chat-embed"
        src="https://www.twitch.tv/embed/xqcow/chat?parent=proj6893.herokuapp.com"
        height="500"
        width="350">
</iframe>
<!--https://dev.twitch.tv/docs/embed/video-and-clips#non-interactive-inline-frames-for-live-streams-and-vods-->
<iframe
    src="https://player.twitch.tv/?channel=xqcow&parent=proj6893.herokuapp.com&muted=true"
    height="720"
    width="1280"
    allowfullscreen="true">
</iframe>
<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/piechart
    // https://www.runoob.com/echarts/echarts-ajax-data.html
    var domain = "https://proj6893.herokuapp.com"
    // var domain = "127.0.0.1:5000";
    var BarChartForTopKGames = echarts.init(document.getElementById('barChartForTopKGames'), null, {
        height: 500,
        width: 700
    });
    var BarChartForTopKTags = echarts.init(document.getElementById('barChartForTopKTags'), null, {
        height: 500,
        width: 700
    });
    var pieChart = echarts.init(document.getElementById('pieChart'), null, {
        height: 450,
        width: 700
    });
    var barChartForTop10Anchors = echarts.init(document.getElementById('barChartForTop10Anchors'), null, {
        height: 500,
        width: 700
    });
    // https://dev.twitch.tv/docs/embed/chat

    window.onload = function () {
        drawPieChart([]);
        drawBarChartForTopKGames([]);
        drawBarChartForTopKTags([]);
        drawBarChartForTop10Anchors([]);
    }

    function drawBarChartForTopKGames(dataSet) {
        var option = {
            title: {
                left: 'left',
                text: 'TOP 10 Popular Live Games'
            },
            dataset: [
                {
                    dimensions: ['game', 'viewer'],
                    source: dataSet
                },
                {
                    transform: {
                        type: 'sort',
                        config: {dimension: 'viewer', order: 'desc'}
                    }
                }
            ],
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 15,
                    textStyle: {fontSize: 11}
                }
            },
            yAxis: {
                textStyle: {fontSize: 12}
            },
            series: {
                type: 'bar',
                encode: {x: 'name', y: 'score'},
                datasetIndex: 1
            }
        };
        BarChartForTopKGames.setOption(option);
    }

    function drawBarChartForTopKTags(dataSet) {
        var option = {
            title: {
                left: 'left',
                text: 'Most Popular Tags'
            },
            dataset: [
                {
                    dimensions: ['tag', 'count'],
                    source: dataSet
                },
                {
                    transform: {
                        type: 'sort',
                        config: {dimension: 'count', order: 'desc'}
                    }
                }
            ],
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 15,
                    textStyle: {fontSize: 12}
                }
            },
            yAxis: {
                textStyle: {fontSize: 13}
            },
            series: {
                type: 'bar',
                encode: {x: 'name', y: 'score'},
                datasetIndex: 1,
                itemStyle: {color: '#3BA272'}
            }
        };
        BarChartForTopKTags.setOption(option);
    }

    function drawPieChart(dataSet) {
        var option = {
            title: {
                left: 90,
                text: 'Most Popular Live Rooms in Different Language'
            },
            legend: {
                right: 'left',
                orient: 'vertical',
                top: 'center',
                icon: 'square',
                textStyle: {
                    fontSize: '12',
                },
            },
            label: {
                show: true,
                position: 'top',
                fontSize: 13,
            },
            icon: 'rect',
            series: [
                {
                    name: 'Pie Chart',
                    type: 'pie',
                    radius: '70%',
                    center: ['50%', '50%'],
                    // roseType: 'angle',
                    data: dataSet,
                }
            ]
        };
        pieChart.setOption(option);
    }

    function covertToDatetimeFormat(dataSet) {
        if (dataSet == null || dataSet.length === 0) {
            return;
        }
        let length = dataSet.starttime.length;
        let minStartTime = new Date(dataSet.starttime[0]).getTime();
        for (let i = 0; i < length; i++) {
            let st = new Date(dataSet.starttime[i]).getTime();
            if (st < minStartTime) {
                minStartTime = st;
            }
        }
        for (let i = 0; i < length; i++) {
            dataSet.starttime[i] = new Date(dataSet.starttime[i]).getTime() - minStartTime;
            dataSet.endtime[i] = new Date(dataSet.endtime[i]).getTime() - minStartTime;
            dataSet.duration[i] = dataSet.endtime[i] - dataSet.starttime[i];
            // dataSet.starttime[i] = echarts.format.formatTime('yyyy-MM-dd hh:mm:ss', dataSet.starttime[i], false);
            // dataSet.duration[i] = echarts.format.formatTime('hh:mm:ss', dataSet.duration[i], false);
        }
        console.log(dataSet.starttime);
        console.log(dataSet.endtime);
        console.log(dataSet.duration);
        return minStartTime;
    }

    function drawBarChartForTop10Anchors(dataSet) {
        console.log(dataSet)
        let minStartTime = covertToDatetimeFormat(dataSet);

        option = {
            title: {
                text: 'Streaming Schedule for popular channels'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                },
                formatter: function (params) {
                    var tar = params[1];
                    // https://www.tutorialspoint.com/How-to-get-time-difference-between-two-timestamps-in-seconds
                    let value = tar.value / 1000;
                    let days = Math.floor(value / 86400);
                    let hours = Math.floor(value / 3600) % 24;
                    let minutes = Math.floor(value / 60) % 60;
                    let seconds = tar.value % 60;
                    return days + "days " + hours + "hours " + minutes + "minutes " +seconds + "seconds"
                    // return tar.name + '<br/>' + tar.seriesName + ' : ' + tar.value;
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval: 0,
                    rotate: 15,
                    textStyle: {fontSize: 12}
                },
                // splitLine: {show: false},
                data: dataSet.name
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: function (value) {
                        return echarts.format.formatTime('yyyy-MM-dd hh:mm:ss', value + minStartTime);
                    }
                }
            },
            series: [
                {
                    name: 'Placeholder',
                    type: 'bar',
                    stack: 'Total',
                    itemStyle: {
                        borderColor: 'transparent',
                        color: 'transparent'
                    },
                    emphasis: {
                        itemStyle: {
                            borderColor: 'transparent',
                            color: 'transparent'
                        }
                    },
                    data: dataSet.starttime
                },
                {
                    name: 'Life Cost',
                    type: 'bar',
                    stack: 'Total',
                    // label: {
                    //     show: true,
                    //     position: 'inside',
                    //     formatter: function (c) {
                    //         // https://www.tutorialspoint.com/How-to-get-time-difference-between-two-timestamps-in-seconds
                    //         let days = Math.floor(c / 86400);
                    //         let hours = Math.floor(c / 3600) % 24;
                    //         let minutes = Math.floor(c / 60) % 60;
                    //         let seconds = c % 60;
                    //         return days + "days " + hours + "hours " + minutes + "minutes " +seconds + "seconds"
                    //     }
                    // },
                    data: dataSet.duration
                }
            ]
        };
        barChartForTop10Anchors.setOption(option);
    }


    // ajax for top K Games
    var barDataSetForTopKGames;
    $.ajax({
        url: domain + "/topKGames/" + 10,
        type: 'GET',
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            barDataSetForTopKTags = JSON.parse(r);
            drawBarChartForTopKGames(barDataSetForTopKTags);
        }
    })

    // ajax for top K Tags
    var barDataSetForTopKTags;
    $.ajax({
        url: domain + "/topKTags/" + 10,
        type: 'GET',
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            barDataSetForTopKGames = JSON.parse(r);
            drawBarChartForTopKTags(barDataSetForTopKGames);
        }
    })

    // ajax for pie chart
    var pieDataSet;
    $.ajax({
        url: domain + "/getLanguageCount/" + 500,
        type: 'GET',
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            console.log(r)
            pieDataSet = JSON.parse(r);
            console.log(pieDataSet);
            drawPieChart(pieDataSet);
        }
    })

    var barDataSetForTop10Anchors;
    $.ajax({
        url: domain + "/getChannelStreamSchedule/" + 10,
        type: 'GET',
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            console.log(r)
            barDataSetForTop10Anchors = JSON.parse(r);
            console.log(barDataSetForTop10Anchors);
            drawBarChartForTop10Anchors(barDataSetForTop10Anchors);
        }
    })

    //
    // $("#parent").on('DOMNodeRemoved', function(e) {
    //     console.log(e.target, ' was removed');
    // });

</script>
<script>
    console.log(document.getElementsByClassName("Layout-sc-nxg1ff-0 lgtHpz chat-scrollable-area__message-container"))

    $("#twitch-chat-embed").on('DOMNodeInserted', function(e) {
        console.log(e.target, ' was inserted');
    });
</script>
</body>
</html>

<style>
    #pieChart {
        width: 300px;
        height: 200px;
        margin-bottom: 150px;
        margin-top: 50px;
    }

    #barChartForTopKGames {
        width: 300px;
        height: 400px;
        margin-top: 100px;
        margin-left: 100px;
    }

    #barChartForTopKTags {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #barChartForTop10Anchors {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #sp {
        width: 100px;
        height: 100px;
    }
</style>

