<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Stream Analysis</title>
    <!--    <script src="../ApiInterface/echarts.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div id="pieChart"></div>
<div id="sp"></div>
<!--<div class="sp"></div>-->
<div id="barDynamicHistory"></div>

<script type="text/javascript">
    // https://developers.google.com/chart/interactive/docs/gallery/piechart
    // https://www.runoob.com/echarts/echarts-ajax-data.html
    // var domain = "https://proj6893.herokuapp.com"
    var domain = "127.0.0.1:5000";

    var barDynamicHistory = echarts.init(document.getElementById('barDynamicHistory'), null, {
        height: 500,
        width: 700
    }window.onload = function () {
        console.log("data");
        drawBarDynamicHistory([]);
    }

    function drawBarDynamicHistory(dataset) {

        option = {
            title: {
                text: 'Stacked Line'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: dataset.label
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: dataset.time
            },
            yAxis: {
                type: 'value',
                axisLabel: {
                    formatter: function (value) {
                        return echarts.format.formatTime('yyyy-MM-dd hh:mm:ss', value + minStartTime);
                    }
                }
            },
            series: [
                {
                    name: 'True',
                    type: 'line',
                    stack: 'Total',
                    data: dataset.true
                },
                {
                    name: 'Prediction',
                    type: 'line',
                    stack: 'Total',
                    data: dataset.predict
                }
            ]
        };
        barDynamicHistory.setOption(option);
    });
    // https://dev.twitch.tv/docs/embed/chat



    var barDataSetForTop10Anchors;
    $.ajax({
        url: domain + "/getViewerPrediction",
        type: 'POST',
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            console.log(r)
            barDataSetForTop10Anchors = JSON.parse(r);
            console.log(barDataSetForTop10Anchors);
            drawBarDynamicHistory(barDataSetForTop10Anchors);
        }
    })


</script>
</body>
</html>

<style>
    #pieChart {
        width: 300px;
        height: 200px;
        margin-bottom: 150px;
        margin-top: 50px;
    }


    #sp {
        width: 100px;
        height: 100px;
    }
</style>

