<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Stream Analysis</title>
    <!--    <script src="../ApiInterface/echarts.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
<div id="sp"></div>
<!--<div class="sp"></div>-->
<div id="barDynamicHistory"></div>
<div id="barDynamicHistory1"></div>

<script type="text/javascript">

    // var domain = "https://proj6893.herokuapp.com"
    var domain = "127.0.0.1:5000";

    var barDynamicHistory = echarts.init(document.getElementById('barDynamicHistory'), null, {
        height: 500,
        width: 700
    });

    var barDynamicHistory1 = echarts.init(document.getElementById('barDynamicHistory1'), null, {
        height: 500,
        width: 700
    });

    window.onload = function () {
        drawBarDynamicHistory();
        drawBarDynamicHistory1();
    }

    function drawBarDynamicHistory(dataset) {
        const data = dataset.label;
        const data2 = dataset.data;
        for (let i = 0; i < 5; ++i) {
            data.push(100);
        }
        option = {
            xAxis: {
                max: 'dataMax'
            },
            yAxis: {
                type: 'category',
                data: ['lol', 'cs', 'C', 'D', 'E'],
                inverse: true,
                animationDuration: 300,
                animationDurationUpdate: 300,
                max: 4 // only the largest 3 bars will be displayed
            },
            series: [
                {
                    realtimeSort: true,
                    name: 'X',
                    type: 'bar',
                    data: data,
                    label: {
                        show: true,
                        position: 'right',
                        valueAnimation: true
                    }
                }
            ],
            legend: {
                show: true
            },
            animationDuration: 0,
            animationDurationUpdate: 3000,
            animationEasing: 'linear',
            animationEasingUpdate: 'linear'
        };

        function run() {
            for (var i = 0; i < data.length; ++i) {
                for (var j = 0; j < data2[i].length; ++j) {
                    data[i] = data2[i][j];
                    barDynamicHistory.setOption(option);
                }
            }

        }

        setTimeout(function () {
            run();
        }, 0);
        setInterval(function () {
            run();
        }, 3000);
    }

    var dataSetForHistoryDynamicChart;
    $.ajax({
        url: domain + "/getDynamicPopularGamesBarChart",
        type: 'POST',
        data: JSON.stringify(['Chatting', 'GrandTheftAutoV', 'LeagueofLegends',
            'ApexLegends', 'Valorant', 'CallofDuty', 'Fortnite',
            'TeamfightTactics', 'Minecraft', 'Pokemon']),
        cache: false,
        processData: false,
        contentType: 'application/json',
        success: function (r) {
            console.log(r)
            dataSetForHistoryDynamicChart = JSON.parse(r);
            console.log(dataSetForHistoryDynamicChart);
            drawBarDynamicHistory(dataSetForHistoryDynamicChart);
        }
    })


    function drawBarDynamicHistory1() {
        const data = [];
        const data2 = [[123, 234, 456], [423, 214, 740], [963, 159, 753], [777, 888, 999], [111, 444, 555]];
        for (let i = 0; i < 5; ++i) {
            data.push(100);
        }
        option = {
            xAxis: {
                max: 'dataMax'
            },
            yAxis: {
                type: 'category',
                data: ['lol', 'cs', 'C', 'D', 'E'],
                inverse: true,
                animationDuration: 300,
                animationDurationUpdate: 300,
                max: 4 // only the largest 3 bars will be displayed
            },
            series: [
                {
                    realtimeSort: true,
                    name: 'X',
                    type: 'bar',
                    data: data,
                    label: {
                        show: true,
                        position: 'right',
                        valueAnimation: true
                    }
                }
            ],
            legend: {
                show: true
            },
            animationDuration: 0,
            animationDurationUpdate: 3000,
            animationEasing: 'linear',
            animationEasingUpdate: 'linear'
        };

        function run() {
            for (var i = 0; i < data.length; ++i) {
                for (var j = 0; j < data2[i].length; ++j) {
                    data[i] = data2[i][j];
                    barDynamicHistory.setOption(option);
                }
            }

        }

        setTimeout(function () {
            run();
        }, 0);
        setInterval(function () {
            run();
        }, 3000);
    }


</script>
</body>
</html>

<style>
    #pieChart {
        width: 300px;
        height: 200px;
        margin-bottom: 150px;
        margin-top: 50px;
    }

    #barChartForTopKGames {
        width: 300px;
        height: 400px;
        margin-top: 100px;
        margin-left: 100px;
    }

    #barChartForTopKTags {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #barChartForTop10Anchors {
        width: 300px;
        height: 400px;
        margin-top: 200px;
        margin-bottom: 200px;
        margin-left: 100px;
    }

    #sp {
        width: 100px;
        height: 100px;
    }
</style>

